// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	padding: 2%;
	padding-top: 0;
	font-family: 'Dosis', sans-serif;
}

/*********** MXINS **********/

.flexCenter() {
	display: flex;
	justify-content: center;
	align-items: center;
}

.paragraphStyle() {
	font-size: 1.5rem;
	margin: 2rem auto 2rem 0;
}

/*********** VARIABLES **********/

@main-color: rgb(156, 205, 252);
@background: rgb(230, 230, 230);

/*********** HEADER **********/

header {
	padding: 2%;
	padding-bottom: 0;
	
	nav {
		.flexCenter();
		width: 100%;

		a {
			padding: 3rem;
			font-size: 1.2rem;
			text-decoration: none;
			text-transform: uppercase;
			color: @main-color;

			@media (max-width: 500px) {
				padding: 1rem;
			}
		}
	}
}

/*********** SECTION INTRO **********/

.section-intro {
		padding: 2%;
	
		img {
			width: 30%;

			@media (max-width: 500px) {
				width: 100%;
			}
		}

		p {
			.paragraphStyle();

			@media (max-width: 500px) {
				font-size: 1.2rem;
			}
		}

		.brief {
			margin: 2%;
			margin-left: 0;

			h2 {
				font-size: 3.5rem;
				margin: 2rem auto 1rem 0;

				@media (max-width: 500px) {
					font-size: 2.5rem;
				}
			}

			
		}

		.about-me {
			margin: 2%;
			margin-left: 0;
			
			@media (max-width: 500px) {
				.flexCenter();
				flex-wrap: wrap;
			
				p {
					width: 100%;
				}

			}

			button {
				border-radius: 5%;
				font-size: 1.2rem;
				text-align: center;
				outline: none;
				background: @main-color;

				@media (max-width: 500px) {
					width: 100%;
				}
			}
		}
	}

/*********** SECTION SKILLS **********/

.section-skills {
	padding: 2%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	@media (max-width: 500px) {
		.flexCenter();
		flex-wrap: wrap;
	}

	h3 {
		font-size: 2.2rem;
		margin-bottom: 2rem;
		font-weight: 700;
		
		@media (max-width: 500px) {
			font-size: 1.5rem;
		}
	}

	.details {
		width: 40%;
		padding: 3%;
		padding-left: 0;

		@media (max-width: 500px) {
			width: 100%;		
		}

		p {
			.paragraphStyle();
			line-height: 1.2;

			@media (max-width: 500px) {
				font-size: 1.2rem;		
			}
		}
	}

	.skills {
		width: 40%;
		padding: 3%;
		padding-left: 0;

		@media (max-width: 500px) {
			width: 100%;		
		}

		p {
			box-shadow: .1rem .1rem @background;
			font-size: 1.8rem;
			padding: 1.1rem;

			@media (max-width: 500px) {
				font-size: 1.2rem;	
				text-align: center;	
			}
		}
	}
}

/*********** SECTION HISTORY **********/

.section-history {
	padding: 2%;

	h3 {
		font-size: 2.2rem;
		margin-bottom: 2rem;
		font-weight: 700;

		@media (max-width: 500px) {
			font-size: 1.5rem;
		}
	}
}

.title {
	background-color: @background;
}

.title,
.list {
	width: 100%;
	padding: 1%;
	display: flex;
	box-shadow: .1rem .1rem @background;

	h4 {
		width: 25%;
		font-size: 1.4rem;
		font-weight: 600;
		margin-bottom: 2rem;
		margin-right: 3rem;

		@media (max-width: 500px) {
			font-size: 1.2rem;
			font-weight: 300;
			width: 15%;
		}
	}

	p {
		width: 25%;
		font-size: 1.2rem;
		margin-right: 3rem;

		@media (max-width: 500px) {
			width: 15%;
		}
	}
}

/*********** FOOTER **********/

footer {
	text-align: center;
	font-size: 2rem;
	margin: 2rem 0;

	@media (max-width: 500px) {
		font-size: 1.3rem;
	}
}